<div class="col-md-3" id="post_meta"> 

	<!-- 本地搜索 -->
	<div id="site_search">
	<div class="form-group">
		<input type="text" id="local-search-input" name="q" results="0" placeholder="搜索" class="st-search-input st-default-search-input form-control"/>
	</div>  
	<div id="local-search-result"></div>
	</div>
	
	<!-- 不蒜子访问量统计 -->
	<div id="busuanzi_container_page_pv" class="meta-widget">
	  <i class="fa fa-eye"></i>
	  阅读 <span id="busuanzi_value_page_pv"></span>
	</div>
	
	<!-- 网易云跟帖评论数 -->
	<div class="meta-widget">
	<a class="cloud-tie-join-count" href="javascript:void(0);">
	  <i class="fa fa-commenting-o"></i>
	  评论 <span class="join-count" style="color:#555; font-size:100%;">0</span>
	</a>  
	</div>
	
	<!-- hexo-wordcount 字数统计 -->
	<div class="meta-widget">
	<i class="fa fa-bar-chart"></i>
	<span class="post-count">3,070</span>字
	</div>
  
	<!-- hexo-wordcount 阅读时长预计 -->
	<div class="meta-widget">
	<i class="fa fa-hourglass-half"></i>
	阅读预计<span class="post-count">12</span>分钟
	</div>  
	
	<!-- date -->
	<% if (item.date) { %>
	<div class="meta-widget">
	<i class="fa fa-clock-o"></i>
	<%= item.date.format(config.date_format) %> 
	</div>
	<% } %>

	<!-- categories -->
    <% if (item.categories  && item.categories.length ) { %>
	<div class="meta-widget">
	<a data-toggle="collapse" data-target="#categorys"><i class="fa fa-folder"></i></a>	
    <ul id="categorys" class="tag_box list-unstyled collapse in">
        <%- partial('category') %>
    </ul>
	</div>
	<% } %>

	<!-- tags -->
	<% if(item.tags && item.tags.length ){ %>
	<div class="meta-widget">
	<a data-toggle="collapse" data-target="#tags"><i class="fa fa-tags"></i></a>		  
    <ul id="tags" class="tag_box list-unstyled collapse in">	  
	  <%- partial('tag') %>
    </ul>
	</div>
	<% } %>	

	<!-- toc -->
	<div class="meta-widget">
	<% if(item.toc){ %>
	   <a data-toggle="collapse" data-target="#toc"><i class="fa fa-bars"></i></a>
	   <div id="toc" class="toc collapse in">
			<%- toc(item.content, {class: "toc-article", list_number:false}) %>
		</div>
	<% } %>
	</div>
	
</div><!-- col-md-3 -->
