// Custom styles.

body{
    background:url(/images/bg.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

/* 背景设置 */
/* 给页面内的所有元素设置一个带透明度的白色背景色 */
// 页面的几大部分
[class="container sidebar-position-left "], .main, [class$="page-home"] #footer,
[class$="page-post-detail"] #footer, .page-archive {
    background: rgba(255, 255, 255, 0.83);
}
[class="container sidebar-position-left "] .main,
[class$="sidebar-position-left"] #footer, .page-archive .main {
    background: transparent;
}
.pagination, .post-block, .comments,
.container .header-inner, .sidebar-inner {
    background: rgba(255, 255, 255, 0.45);
}

// 评论区
.gt-comment-content {
    background-color: rgba(255, 255, 255, 0.42) ;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);

    &:hover {
        box-shadow: 0 2px 2px 0 #6190e8b8, 0 3px 1px -2px #6190e8b8, 0 1px 5px 0 #6190e8b8 !important;
    }
}

// 显示目录的侧边栏
#sidebar {
    background: rgba(255, 255, 255, 0);
}

// 菜单
.menu .menu-item a:hover {
    background: #2222223b;
    border-bottom-color: transparent;   
}
.menu-item-active a {
    background: #fbcb3fbd;
    border-bottom-color: transparent;
}

// NexT主题特有的选项卡元素
.tabs ul.nav-tabs li.tab.active,
.tabs .tab-content {
    background-color: rgba(255, 255, 255, 0.62) !important;
}



/* 页面中某些部分的大小 */
// 归档页面的页脚
.page-archive #footer {
    position: inherit;
    height: auto;
    padding-top: 2.7%;
}

// 详细分类页面和总分类页面的页脚
[class$="sidebar-position-left "] #footer,
[class$="page-post-detail"] #footer {
    padding-top: 3.98%
}

// 详细分类页面的主要部分
[class$="sidebar-position-left "] {
    padding-bottom: calc(100vh - 89.5vh);
}

/* 侧边栏目录 */
// 普通状态下的超链接状态
.post-toc ol a {
    border-bottom-color: transparent;
    &:hover {
        border-bottom-color: #666;
    }
}

// active状态下的超链接样式
.post-toc .nav li[class$="active"]>.nav-link {
    border-bottom-color: transparent;
    &:hover {
        border-bottom-color: #fc6423;
    }
}

// 当前正在访问的超链接样式
.post-toc .nav li[class$="active-current"]>.nav-link {
    color: white;
    background: #337ab7;
    border-radius: 3.6px;
    display: block;
    padding: 5px 7px;
    border-bottom-color: transparent;
    &:hover {
        background: orange;
        color: black;
    }
}

//
.site-state-item {
    border-left: 1px solid #b1b1b1;
}


// 各级目录的显示宽度 - 主要是为了不让边框超出侧边栏
.post-toc .nav .active-current.nav-level-2 a {
    width: 303px;
}

.post-toc .nav .active-current.nav-level-3 a {
    width: 296px;
}

.post-toc .nav .active-current.nav-level-4 a {
    width: 286px;
}

.post-toc .nav .active-current.nav-level-5 a {
    width: 276px;
}

.post-toc .nav .active-current.nav-level-6 a {
    width: 266px;
}

.post-toc {
    width: calc(100% + 17px);
}



/* 标题 */
// 点进文章，文章的主标题
.posts-expand article:only-of-type h1 {
    font-size: 37px;
}

// 二级标题(正常显示器分辨率)
// 其实要在左下角和右下角加上一个折角、翻折的效果（一个三角形）
.post-body h2 {
    border: 1px solid #ddd;
    border-radius: 2px;
    font-weight: bold;
    height: 48px;
    line-height: 40px;
    margin: 20px -42.3px 15px -48px;
    padding-left: 1.7%;
    position: relative;
    background-color: #ecf6f7;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
}

// 二级标题(移动终端分辨率)
@media (min-width: 768px) and (max-width: 991px) {
    .main .post-body h2 {
        margin: 20px -23px 15px -28px;
    }
}
@media (max-width: 767px) {
    .main .post-body h2 {
        margin: 20px -15px 15px -18px;
    }
}

// 三级标题
.post-body h3 {
    border-bottom: 1px solid #cfd8dc!important;
    padding-bottom: 0.3em;
}



/* 文章页面内的各种元素 */
// note块元素
.post-body .note {
    border-color: #ddd;
    background-color: #f9f9f980;
}

// 文章内的普通超链接
.post-body a {
    color: #0593d3;
    border-bottom: none;
    &:hover {
        color: #FF4500;
    }
}

//代码块内的超链接
.post-body a code {
    color: #0593d3;
    border-bottom: none;
    &:hover {
        color: #FF4500;
    }
}

// 分页导航（上/下一篇文章的超链接）
.post-nav-item a {
    color: #0593d3;
    border-bottom: none;
    &:hover {
        color: #FF4500;
    }
}

// 阅读全文的按钮
.post-button a {
    &:hover {
        font-weight: bold;
        font-size: larger;
        background-color: cornsilk;
    }
}

// 阅读全文按钮的超链接
.post-button .btn {
    border-bottom: 2px solid #555;
}

// 无序列表
.posts-expand .post-body ul li {
    list-style: disc;
}

// 有序列表
.posts-expand .post-body ol {
    counter-reset: counter;
}
.posts-expand .post-body ol>li {
    list-style-type: none;
    position: relative;
}
.posts-expand .post-body ol>li:before {
    counter-increment: counter;
    content: counter(counter);
    background: #49b1f5; 
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    padding: 3px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    position: absolute;
    left: -27px;
    top: 5px;
}

// fancybox图片
.posts-expand .post-body .fancybox img {
    display: block !important;
    margin-left: 0px;
    cursor: pointer;
    cursor: zoom-in;
    cursor: -webkit-zoom-in;
}

// 图片底下的描述性文字
.post-body .image-caption, .post-body .figure .caption {
    text-align: left;
}

// label块
.post-body .label {
    font-weight: bold;
    border-radius: .25em;
    margin: 0px 3px 0px 3px;
    padding: 3px 4px;
}
.post-body .label.primary {
    background-color: #ecd6ff;
}
.post-body .label.info {
    background-color: #c3e8f9;
}
.post-body .label.success {
    background-color: #b2eabb;
}
.post-body .label.default {
    background-color: #dcdcdc;
}
.post-body .label.warning {
    background-color: #ffe89a;
}
.post-body .label.danger {
    background-color: #f9c1ca;
}


// 代码区
.highlight .code pre {
    background-color: transparent;
}
.highlight {
    background-color: #f9f9f980;
    border: 1px solid #ddd;
    border-radius: 2px;
}

// 原样输出的代码块
pre {
    background: #f9f9f980;
    border: 1px solid #ddd;
    border-radius: 2px;
}
pre code {
    border: transparent;
}

// 块引用
blockquote {
    background-color: #f9f9f980;
    border-left-color: #6b8afb;
}

// 表格奇数行
.highlight table>tbody>tr {
    &:nth-of-type(odd) { 
        background-color: transparent;
    }
}

// 表格每一行鼠标经过时的颜色
table>tbody>tr {
    &:hover {
        background-color: #FFFFF0;
    }
}

// 表格的单元格
table td, table th {
    border-right: 1px solid #dcdcdc;
}

// 侧边栏头部
.site-meta {
    background: #222222;
}

// 文章底部的标签
.posts-expand .post-tags a {
    background: #e6e6e6;
    padding: 3px 4px;
    border-radius: 3px;
    color: #2ca6cb;
    border-bottom: none;
    &:hover {
        color: white;
        background: #2ca6cb;
    }
}

// 分割线
hr {
    margin: 0px 0px 0px 0px;
    height: 1px;
    border: none;
    background-image: none;
}

// code代码块
code {
    background: #dcdcdc;
    margin: 0 2px 0 2px;
}

// 选项卡被选中的那一项
.tabs ul.nav-tabs li.tab.active a {
    font-size: 19px;  
}

// 浏览器滚动条
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #49b1f5;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

.popular-posts-header {
    font-weight: bold;
    font-size: 28px;
}

.popular-posts {
	background: #F4F4F4F4;
}